---
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import Timespan from "../time/timespan.astro";
import SkillListing from "../skill/skill-listing.astro";

interface Props {
  education: CollectionEntry<"education">;
}

const { education } = Astro.props;

const {
  name,
  location,
  degree,
  gpa,
  skills: skillReferences,
  logoUrl,
  startDate,
  endDate,
} = education.data;

const skills = await getEntries(skillReferences);
---

<article>
  <img alt="" src={logoUrl} />
  <h3>{name}</h3>
  <div>{location}</div>
  <div>{degree}</div>
  <div>GPA: {gpa}</div>
  <div>
    <h4>Skills</h4>
    <SkillListing skills={skills}/>
  </div>
  <Timespan startDate={startDate} endDate={endDate} />
</article>
