---
import { getCollection } from "astro:content";
import Experience from "../entities/experience/experience.astro";
import Education from "../entities/education/education.astro";
import Project from "../entities/project/project.astro";

const year = new Date().getFullYear();

const experiences = await getCollection("experience");
const educations = await getCollection("education");
const projects = await getCollection("project");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio - Sean Dodson</title>
  </head>
  <body>
    <header class="sticky top-0 py-4">
      <div class="content-container">
        <div
          class="flex justify-between rounded-2xl border bg-white px-8 py-4 shadow-lg"
        >
          <div id="currentNavTitleItemDisplay">Overview</div>
          <nav>
            <a href="#overview">Overview</a>
            <a href="#experience">Experience</a>
            <a href="#education">Education</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
          </nav>
          <script>
            const currentNavTitleItemDisplay = document.querySelector(
              "#currentNavTitleItemDisplay"
            );
            const navTitleItems = [
              ...document.querySelectorAll("[data-nav-title]"),
            ];

            function updateCurrentNavTitleItem() {
              const currentNavTitleItem = navTitleItems
                .filter((item) => item.getBoundingClientRect().y <= 0)
                .sort((item) => item.getBoundingClientRect().y)[0];

              if (currentNavTitleItemDisplay) {
                currentNavTitleItemDisplay.textContent =
                  currentNavTitleItem?.getAttribute("data-nav-title") ??
                  "Overview";
              }
            }

            window.addEventListener("scroll", updateCurrentNavTitleItem);
          </script>
        </div>
      </div>
    </header>
    <main class="content-container">
      <section class="min-h-screen py-12">
        <div id="overview" class="relative -top-48" data-nav-title="Overview"></div>
        <p class="text-slate-700">Nice to meet you! I'm</p>
        <h1 class="mt-8">Sean Dodson</h1>
        <p class="text-slate-700 mt-8">
          I’m a passionate software engineer who loves his craft and enjoys
          working with others to solve problems. I specialize in building full
          stack web applications at scale.
        </p>
      </section>
      <section class="min-h-screen py-12">
        <div data-nav-title="Experience" class="relative -top-48"></div>
        <div id="experience" class="relative -top-44"></div>
        <h2>I’m a professional software engineer, with experience at</h2>
        {
          experiences.map((experience) => (
            <Experience experience={experience} />
          ))
        }
      </section>
      <section class="min-h-screen py-12">
        <div data-nav-title="Education" class="relative -top-48"></div>
        <div id="education" class="relative -top-44"></div>
        <h2>I went to school for software engineering at</h2>
        {educations.map((education) => <Education education={education} />)}
      </section>
      <section class="min-h-screen py-12">
        <div data-nav-title="Projects" class="relative -top-48"></div>
        <div id="projects" class="relative -top-44"></div>
        <h2>
          I’ve been writing code for fun since my teen years, building personal
          projects such as
        </h2>
        {projects.map((project) => <Project project={project} />)}
      </section>
      <section class="min-h-screen py-12">
        <div data-nav-title="Contact" class="relative -top-48"></div>
        <div id="contact" class="relative -top-44"></div>
        <h2>Need help with anything? Let’s get in touch!</h2>
        <div>
          <label for="name">Name</label>
          <input id="name" />
        </div>
        <div>
          <label for="message">Message</label>
          <textarea id="message"></textarea>
        </div>
        <button>Send</button>
      </section>
    </main>
    <footer class="content-container">
      <a href="https://github.com">GitHub</a>
      <a href="https://linkedin.com">LinkedIn</a>
      <p>Copyright © {year} Sean Dodson. All rights reserved.</p>
    </footer>
  </body>
</html>

<style is:global>
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  .content-container {
    max-width: 650px;
    
    @apply m-auto px-8;
  }
</style>
