---
import { getCollection } from "astro:content";
import Experience from "../entities/experience/experience.astro";
import Education from "../entities/education/education.astro";
import Project from "../entities/project/project.astro";
import NavSection from "../widgets/nav-section/nav-section.astro";
import Header from "../widgets/header/header.astro";

const year = new Date().getFullYear();

const experiences = await getCollection("experience");
const educations = await getCollection("education");
const projects = await getCollection("project");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio - Sean Dodson</title>
  </head>
  <body>
    <Header />
    <main class="content-container">
      <NavSection id="overview" title="Overview">
        <div class="mt-32"></div>
        <p class="text-slate-700 text-lg">Nice to meet you! I'm</p>
        <h1 class="mt-8">Sean Dodson</h1>
        <p class="mt-8 text-slate-700 text-lg">
          I’m a passionate software engineer who loves his craft and enjoys
          working with others to solve problems. I specialize in building full
          stack web applications at scale.
        </p>
      </NavSection>
      <NavSection id="experience" title="Experience">
        <h2>I’m a professional software engineer, with experience at</h2>
        {
          experiences.map((experience) => (
            <Experience experience={experience} />
          ))
        }
      </NavSection>
      <NavSection id="education" title="Education">
        <h2>I went to school for software engineering at</h2>
        {educations.map((education) => <Education education={education} />)}
      </NavSection>
      <NavSection id="projects" title="Projects">
        <h2>
          I’ve been writing code for fun since my teen years, building personal
          projects such as
        </h2>
        {projects.map((project) => <Project project={project} />)}
      </NavSection>
      <NavSection id="contact" title="Contact">
        <h2>Need help with anything? Let’s get in touch!</h2>
        <div>
          <label for="name">Name</label>
          <input id="name" />
        </div>
        <div>
          <label for="message">Message</label>
          <textarea id="message"></textarea>
        </div>
        <button>Send</button>
      </NavSection>
    </main>
    <footer class="content-container">
      <a href="https://github.com">GitHub</a>
      <a href="https://linkedin.com">LinkedIn</a>
      <p>Copyright © {year} Sean Dodson. All rights reserved.</p>
    </footer>
  </body>
</html>

<style is:global>
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  .content-container {
    max-width: 650px;

    @apply m-auto px-8;
  }
</style>
