---
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import Timespan from "../time/timespan.astro";
import SkillListing from "../skill/skill-listing.astro";

interface Props {
  experience: CollectionEntry<"experience">;
}

const { experience } = Astro.props;

const {
  name,
  position,
  highlights,
  skills: skillReferences,
  logoUrl,
  startDate,
  endDate,
} = experience.data;

const skills = await getEntries(skillReferences);
---

<article>
  <img alt="" src={logoUrl} width="50" height="50" />
  <div class="flex items-center justify-between mt-4">
    <h3>{name}</h3>
    <div class="ml-4">
      <Timespan startDate={startDate} endDate={endDate} />
    </div>
  </div>
  <div class="mt-1 italic text-slate-700">{position}</div>
  <div class="mt-4">
    <h4 class="font-bold">Highlights</h4>
    <ul class="ml-4 mt-2 list-disc">
      {highlights.map((highlight) => <li class="my-1">{highlight}</li>)}
    </ul>
  </div>
  <div class="mt-4">
    <h4 class="font-bold">Skills</h4>
    <div class="mt-2">
      <SkillListing skills={skills} />
    </div>
  </div>
</article>
