---
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import Timespan from "../time/timespan.astro";
import SkillListing from "../skill/skill-listing.astro";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;

const {
  name,
  url,
  highlights,
  skills: skillReferences,
  logoUrl,
  startDate,
  endDate,
} = project.data;

const skills = await getEntries(skillReferences);
---

<article>
  <img alt="" src={logoUrl} />
  <h3>{name}</h3>
  <div>{url}</div>
  <div>
    <h4>Highlights</h4>
    <ul>
      {highlights.map((highlight) => <li>{highlight}</li>)}
    </ul>
  </div>
  <div>
    <h4>Skills</h4>
    <SkillListing skills={skills} />
  </div>
  <Timespan startDate={startDate} endDate={endDate} />
</article>
